In [3]:
import pandas as pd

In [47]:
sheets = [pd.read_csv("rnn-2022-03-16 13-55-17.csv"), pd.read_csv("dqn-ani2-1hl-2022-03-15 20-32-06.csv"), 
         pd.read_csv("dqn-ani-1hl-2022-03-15 11-13-53.csv"), pd.read_csv("dqn-ani-1hl-2022-03-14 10-49-57.csv"),
         pd.read_csv("dqn-2hl-2022-03-15 14-48-33.csv"), pd.read_csv("dqn-2hl-2022-03-13 16-36-15.csv"),
         pd.read_csv("dqn-1hl-2022-03-15 15-24-53.csv"), pd.read_csv("dqn-1hl-2022-03-14 09-51-58.csv"),
         pd.read_csv("dqn-1hl-2022-03-14 04-42-41.csv"), pd.read_csv("dqn-1hl-2022-03-14 04-07-20.csv"),
         pd.read_csv("dqn-1hl-2022-03-13 22-01-26.csv"), pd.read_csv("dqn-1hl-2022-03-13 20-48-57.csv"),
         pd.read_csv("dqn-1hl-2022-03-13 14-11-15.csv"), pd.read_csv("dqn-1hl-2022-03-12 22-11-56.csv"),
         pd.read_csv("dqn-1hl-2022-03-12 21-34-02.csv"), pd.read_csv("dqn-1hl-2022-03-11 03-55-36.csv"),
         pd.read_csv("dqn-1hl-2022-03-09 04-34-45.csv")]

In [15]:
sheets[1].head()

,Unnamed: 0,model,lookback,n1,epsilon,epsilon_decay,learning_rate,discount_rate,tr_cooperation_percentage,tr_defection_percentage,tr_final_loss,tr_mean_reward,tr_cumul_reward,tr_cumul_regret,tn_rank,tn_mean_score,tn_mean_time,agents
0,0,"QNetwork(\n (flatten): Flatten(start_dim=1, e...",1,4,0.2,0.0,0.01,0.95,0.330733,0.669267,0.701468,2.101496,504359,215641,27,497.330645,23.095371,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."
1,1,"QNetwork(\n (flatten): Flatten(start_dim=1, e...",1,4,0.2,0.0,0.01,0.99,0.713237,0.286762,1.881498,2.331571,559577,160423,25,602.337097,17.590207,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."
2,2,"QNetwork(\n (flatten): Flatten(start_dim=1, e...",1,64,0.2,0.0,0.01,0.95,0.899763,0.100237,2.302513,2.734921,656381,63619,24,717.816129,19.771187,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."
3,3,"QNetwork(\n (flatten): Flatten(start_dim=1, e...",1,64,0.2,0.0,0.01,0.99,0.900262,0.099738,2.305676,2.738542,657250,62750,25,689.790323,31.219409,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."
4,4,"QNetwork(\n (flatten): Flatten(start_dim=1, e...",1,128,0.2,0.0,0.01,0.95,0.899696,0.100304,2.303568,2.736167,656680,63320,25,699.654839,21.017128,"TitForTat,Nydegger,TidemanAndChieruzzi,Champio..."

In [48]:
def clean_up(df: pd.DataFrame) -> pd.DataFrame:
    
    # remove unnamed initial column.
    # replace model column with name of model
    df = df.drop(["Unnamed: 0"], axis=1)
    if "QNetwork" in df["model"][0]:
        df["ModelType"] = "DQN"
    elif "RNN" in df["model"][0]:
        df["ModelType"] = "RNN"
    df = df.drop(["model"], axis=1)
    
    return df

In [49]:
for idx, sheet in enumerate(sheets):
    print(f"Cleaning up sheet {idx}")
    sheets[idx] = clean_up(sheet)

Cleaning up sheet 0
Cleaning up sheet 1
Cleaning up sheet 2
Cleaning up sheet 3
Cleaning up sheet 4
Cleaning up sheet 5
Cleaning up sheet 6
Cleaning up sheet 7
Cleaning up sheet 8
Cleaning up sheet 9
Cleaning up sheet 10
Cleaning up sheet 11
Cleaning up sheet 12
Cleaning up sheet 13
Cleaning up sheet 14
Cleaning up sheet 15
Cleaning up sheet 16

In [51]:
# delete redundant columns

for sheet in sheets:
    if "Model Type" in sheet.columns:
        sheet.drop("Model Type", inplace=True, axis=1)

for sheet in sheets:
    if "Unnamed: 0.1" in sheet.columns:
        sheet.drop("Unnamed: 0.1", inplace=True, axis=1)

In [54]:
columns = []
for idx, sheet in enumerate(sheets):
    for col in sheet.columns:
        if not col in columns:
            print(f"Adding {col} to columns.")
            columns.append(col)

Adding lookback to columns.
Adding hidden_size to columns.
Adding num_layers to columns.
Adding epsilon to columns.
Adding epsilon_decay to columns.
Adding learning_rate to columns.
Adding discount_rate to columns.
Adding tr_cooperation_percentage to columns.
Adding tr_defection_percentage to columns.
Adding tr_final_loss to columns.
Adding tr_mean_reward to columns.
Adding tr_cumul_reward to columns.
Adding tr_cumul_regret to columns.
Adding tn_rank to columns.
Adding tn_mean_score to columns.
Adding tn_mean_time to columns.
Adding agents to columns.
Adding ModelType to columns.
Adding n1 to columns.
Adding n2 to columns.

In [55]:
# now we join the spreadsheets together

# first we need to make sure all sheets have the same columns
for sheet in sheets:
    for col in columns:
        if not col in sheet.columns:
            sheet[col] = None

In [56]:
master_sheet = pd.concat(sheets, ignore_index=True, sort=True)

In [60]:
master_sheet

,ModelType,agents,discount_rate,epsilon,epsilon_decay,hidden_size,learning_rate,lookback,n1,n2,num_layers,tn_mean_score,tn_mean_time,tn_rank,tr_cooperation_percentage,tr_cumul_regret,tr_cumul_reward,tr_defection_percentage,tr_final_loss,tr_mean_reward
0,RNN,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",0.99,0.1,0.0,4,0.010,1,None,None,1,615.801613,27.080110,25,0.326579,360387,479613,0.673421,3.586149,1.712904
1,RNN,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",0.99,0.1,0.0,32,0.010,1,None,None,1,492.674194,32.302460,26,0.266554,379237,460763,0.733446,2.267997,1.645582
2,RNN,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",0.99,0.1,0.0,64,0.010,1,None,None,1,488.369355,31.665495,26,0.384579,350600,489400,0.615421,2.660373,1.747857
3,RNN,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",0.99,0.1,0.0,4,0.010,2,None,None,1,516.111290,30.256132,25,0.258746,332749,507251,0.741254,3.584488,1.811611
4,RNN,"TitForTat,Nydegger,Downing,TidemanAndChieruzzi...",0.99,0.1,0.0,32,0.010,2,None,None,1,482.979032,36.665985,26,0.409950,336942,503058,0.590050,2.484999,1.796636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1903,DQN,"TitForTat,OmegaTFT",0.95,0.2,0.0,None,0.001,10,12,None,None,719.885484,16.122016,25,0.262300,66357,53643,0.737700,0.467517,1.341075
1904,DQN,"TitForTat,OmegaTFT",0.95,0.2,0.0,None,0.001,10,16,None,None,509.111290,17.381061,26,0.288625,61542,58458,0.711375,0.605603,1.461450
1905,DQN,"TitForTat,OmegaTFT",0.95,0.2,0.0,None,0.001,10,24,None,None,456.125806,20.087006,29,0.208025,65850,54150,0.791975,0.308724,1.353750
1906,DQN,"TitForTat,OmegaTFT",0.95,0.2,0.0,None,0.001,10,32,None,None,760.877419,19.593082,17,0.432175,58507,61493,0.567825,0.451315,1.537325
1907,DQN,"TitForTat,OmegaTFT",0.95,0.2,0.0,None,0.001,10,64,None,None,719.033871,16.615051,24,0.571100,47522,72478,0.428900,0.485346,1.811950

In [61]:
master_sheet.to_csv("masterspreadsheet.csv")